extends layout

block content

  h1.text-center User Management System

  div.d-grid.gap-2
    button.btn.btn-primary Add User

  br
  hr
  h4.mt-4 User List
  table.table.table-bordered
    thead
      tr
        th User Name
        th Email Address
        th Phone
        th Actions
 