doctype html5
html
  head
    title User Management System
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css")
   
  body
    div.container(style="max-width: 800px;")

      block content
 
      footer(style="text-align:center;")
        p Copyright © User Management System | Malith