<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>User Management System</title>
    <style>
      body {background-image: url(images/ums_bg.jpg);background-size: cover;}
    </style>
</head>


<body>

  {{{body}}}

 <footer style="text-align:center;">
   <p class="text-white">Copyright © User Management System | Malith</p>
 </footer> 

</body>

 